.editor {
  --base00: hsl(206 7% 19%);
  --base01: hsl(0 0% 87%);
  --base02: hsl(219 100% 86%);
  --base03: hsl(0 0% 69%);
  --base04: hsl(0 0% 82%);
  --base05: hsl(0 0% 88%);
  --base06: hsl(0 0% 50%);
  --base07: hsl(0 0% 0%);
  --base08: hsl(1 42% 45%);
  --base09: hsl(20 97% 56%);
  --base0A: hsl(34 98% 59%);
  --base0B: hsl(172 29% 64%);
  --base0C: hsl(66 39% 57%);
  --base0D: hsl(199 52% 63%);
  --base0E: hsl(300 33% 70%);
  --base0F: hsl(214 30% 55%);

  .CodeMirror {
    /* Background color of main window */
    background-color: var(--base00);
    --fat-cursor-color: var(--base0C);

    .CodeMirror-scroll,
    .CodeMirror-dialog {
      /* Color of otherwise un-styled text */
      color: var(--base01);
    }
    .CodeMirror-gutters {
      /* Gutter to the left */
      background-color: var(--base00);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    .CodeMirror-linenumber {
      /* Line numbers in the gutter */
      color: var(--base06);
    }
    .CodeMirror-selected {
      /* Highlighed text */
      background-color: color-mix(in srgb, var(--base06), transparent 80%);
    }
    .CodeMirror-focused .CodeMirror-selected {
      /* Highlighed text */
      background-color: var(--base07);
    }
    .CodeMirror-cursor {
      /* The cursor */
      border-left: 1px solid var(--base06);
    }
    .CodeMirror-matchingbracket,
    .CodeMirror-matchingtag {
      /* When you click a tag/bracket and the matching one is highlighted */
      background: var(--base02) !important;
      color: var(--base06) !important;
      border-bottom: 1px solid var(--base08) !important;
    }
    .CodeMirror-foldgutter-open:after {
      /* Those little arrows in the gutter */
      color: var(--base03);
    }
    .CodeMirror-foldgutter-folded:after {
      /* The arrows after you collapse code */
      color: var(--base04);
    }
    .CodeMirror.over-gutter,
    .CodeMirror-activeline {
      .CodeMirror-foldgutter-open:after {
        /* Arrows when hovering on the gutter */
        color: var(--base06);
      }
    }
    .CodeMirror-foldmarker {
      /* The [...] marking collapsed code */
      border-color: var(--base06);
      background-color: var(--base06);
      color: var(--base02);
    }
    .CodeMirror .CodeMirror-linewidget img.inline-widget {
      background: rgba(0, 0, 0, 0.1);
    }
    .cm-searching {
      /* Ctrl + F results */
      background-color: rgba(165, 69, 67, 0.4);
      color: white !important;
    }
  }

  /* All 'dem swatches */

  .CodeMirror {
    color-scheme: dark;

    .cm-quote {
      color: var(--base0E);
      font-style: italic;
    }
    .cm-url {
      color: var(--base0F);
    }
    .cm-atom,
    .cm-formatting-list.cm-variable-3,
    .cm-string,
    .cm-string-2,
    .cm-hr {
      color: var(--base0B);
    }
    .cm-number,
    .cm-attribute,
    .cm-plus {
      color: var(--base0A);
    }
    .cm-def,
    .cm-property {
      color: var(--base0C);
    }
    .cm-variable {
      color: var(--base06);
    }
    .cm-keyword,
    .cm-formatting-list.cm-variable-2,
    .cm-operator,
    .cm-meta,
    .cm-bracket {
      color: var(--base0E);
    }
    .cm-comment {
      color: var(--base06);
      font-style: italic;
    }
    .cm-error,
    .cm-minus {
      color: var(--base09);
    }
    .cm-formatting-header {
      opacity: 0.3;
    }
    .cm-header {
      color: var(--base01);
    }
    .cm-link {
      color: var(--base0F);
      text-underline-position: under;
    }
    .cm-rangeinfo {
      color: var(--base0C);
    }
    .cm-builtin {
      color: var(--base0F);
    }
    .cm-qualifier,
    .cm-tag {
      color: var(--base0A);
    }
    .cm-whitespace::before {
      color: var(--base06);
      opacity: 0.4;
    }
    .cm-formatting-quote,
    .cm-formatting-strong,
    .cm-formatting-em {
      opacity: 0.6;
    }
    .cm-strong {
      color: var(--base0A);
    }
    .cm-em {
      color: var(--base0D);
    }

    /* carriage return */
    .CodeMirror-code > div > pre > span::after,
    .CodeMirror-line > span::after {
      color: var(--base06);
      opacity: 0.4;
    }

    .cm-inline-code {
      background: rgba(0, 0, 0, 0.1);
      color: var(--base03);
    }

    .gfm-codeblock-bg.CodeMirror-linebackground {
      background: rgba(0, 0, 0, 0.1);
    }

    .cm-table-sep,
    .table-row.table-row-1 {
      color: var(--base0E);
    }

    .cm-quote.cm-link-barelink {
      font-style: normal;
      color: var(--base0A);
    }
  }

  /* Active Line Highlight support */
  .CodeMirror-activeline-background,
  .CodeMirror-activeline-gutter {
    background-color: color-mix(
      in srgb,
      var(--base02),
      transparent 90%
    ) !important;
  }
}
