.editor {
  --base00: #2e3235;
  --base01: #dddddd;
  --base02: #b9d2ff;
  --base03: #b0b0b0;
  --base04: #d0d0d0;
  --base05: #e0e0e0;
  --base06: #808080;
  --base07: #000000;
  --base08: #a54543;
  --base09: #fc6d24;
  --base0A: #fda331;
  --base0B: #8abeb7;
  --base0C: #b5bd68;
  --base0D: #6fb3d2;
  --base0E: #cc99cc;
  --base0F: #6987af;

  .CodeMirror {
    /* Background color of main window */
    background-color: var(--base00);

    .CodeMirror-scroll,
    .CodeMirror-dialog {
      /* Color of otherwise un-styled text */
      color: var(--base01);
    }
    .CodeMirror-gutters {
      /* Gutter to the left */
      background-color: transparent;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    .CodeMirror-linenumber {
      /* Line numbers in the gutter */
      color: var(--base06);
    }
    .CodeMirror-selected {
      /* Highlighed text */
      background-color: var(--base06);
    }
    .CodeMirror-focused .CodeMirror-selected {
      /* Highlighed text */
      background-color: var(--base07);
    }
    .CodeMirror-cursor {
      /* The cursor */
      border-left: 1px solid var(--base06);
    }
    .CodeMirror-matchingbracket,
    .CodeMirror-matchingtag {
      /* When you click a tag/bracket and the matching one is highlighted */
      background: var(--base02) !important;
      color: var(--base06) !important;
      border-bottom: 1px solid var(--base08) !important;
    }
    .CodeMirror-foldgutter-open:after {
      /* Those little arrows in the gutter */
      color: var(--base03);
    }
    .CodeMirror-foldgutter-folded:after {
      /* The arrows after you collapse code */
      color: var(--base04);
    }
    .CodeMirror.over-gutter,
    .CodeMirror-activeline {
      .CodeMirror-foldgutter-open:after {
        /* Arrows when hovering on the gutter */
        color: var(--base06);
      }
    }
    .CodeMirror-foldmarker {
      /* The [...] marking collapsed code */
      border-color: var(--base06);
      background-color: var(--base06);
      color: var(--base02);
    }
    .CodeMirror .CodeMirror-linewidget img.inline-widget {
      background: rgba(0, 0, 0, 0.1);
    }
    .cm-searching {
      /* Ctrl + F results */
      background-color: rgba(165, 69, 67, 0.4);
      color: white !important;
    }
  }

  /* All 'dem swatches */

  .CodeMirror {
    color-scheme: dark;

    .cm-quote {
      color: var(--base0E);
      font-style: italic;
    }
    .cm-url {
      color: var(--base0F);
    }
    .cm-atom,
    .cm-formatting-list.cm-variable-3,
    .cm-string,
    .cm-string-2,
    .cm-hr {
      color: var(--base0B);
    }
    .cm-number,
    .cm-attribute,
    .cm-plus {
      color: var(--base0A);
    }
    .cm-def,
    .cm-property {
      color: var(--base0C);
    }
    .cm-variable {
      color: var(--base06);
    }
    .cm-keyword,
    .cm-formatting-list.cm-variable-2,
    .cm-operator,
    .cm-meta,
    .cm-bracket {
      color: var(--base0E);
    }
    .cm-comment {
      color: var(--base06);
      font-style: italic;
    }
    .cm-error,
    .cm-minus {
      color: var(--base09);
    }
    .cm-formatting-header {
      opacity: 0.3;
    }
    .cm-header {
      color: var(--base01);
    }
    .cm-link {
      color: var(--base0F);
      text-underline-position: under;
    }
    .cm-rangeinfo {
      color: var(--base0C);
    }
    .cm-builtin {
      color: var(--base0F);
    }
    .cm-qualifier,
    .cm-tag {
      color: var(--base0A);
    }
    .cm-whitespace::before {
      color: var(--base06);
      opacity: 0.4;
    }
    .cm-formatting-quote,
    .cm-formatting-strong,
    .cm-formatting-em {
      opacity: 0.6;
    }
    .cm-strong {
      color: var(--base0A);
    }
    .cm-em {
      color: var(--base0D);
    }

    /* carriage return */
    .CodeMirror-code > div > pre > span::after,
    .CodeMirror-line > span::after {
      color: var(--base06);
      opacity: 0.4;
    }

    .cm-inline-code {
      background: rgba(0, 0, 0, 0.1);
      color: var(--base03);
    }

    .gfm-codeblock-bg.CodeMirror-linebackground {
      background: rgba(0, 0, 0, 0.1);
    }

    .cm-table-sep,
    .table-row.table-row-1 {
      color: var(--base0E);
    }

    .cm-quote.cm-link-barelink {
      font-style: normal;
      color: var(--base0A);
    }
  }

  /* Active Line Highlight support */
  .CodeMirror-activeline-background,
  .CodeMirror-activeline-gutter {
    background-color: color-mix(
      in srgb,
      var(--base02),
      transparent 90%
    ) !important;
  }
}
